* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-square {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  height: 800px;
  margin: 50px auto;
}

.square {
  border: solid 1px black;
  flex-basis: calc(100% / 6);
  height: calc(100% / 6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 50px;
}
